<?xml version="1.0"?>
<configuration>
  <system.serviceModel>

    <extensions>
      <behaviorExtensions>
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Version=1.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
      <bindingExtensions>
        <!--<add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />-->
        <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>

    <bindings>
      <basicHttpRelayBinding>
        <binding name="default" >
          <security mode="Transport"/>
        </binding>
      </basicHttpRelayBinding>
      <!--<netTcpRelayBinding>
        <binding name="default" connectionMode="Hybrid">
          <security mode="None"/>
        </binding>
      </netTcpRelayBinding>-->
    </bindings>

    <services>
      <service name="ServiceBusRelay.Console.CustomerService">
        <endpoint address=""
                  binding="basicHttpRelayBinding"
                  bindingConfiguration="default"
                  name="RelayEndpoint"
                  contract="ServiceBusRelay.Console.ICustomerContract"
                  behaviorConfiguration="sharedSecretClientCredentials" />
        <!--<endpoint address=""
                  binding="netTcpRelayBinding"
                  bindingConfiguration="default"
                  name="RelayEndpoint"
                  contract="ServiceBusRelay.Console.ICustomerContract"
                  behaviorConfiguration="sharedSecretClientCredentials" />-->
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="sharedSecretClientCredentials">
          <transportClientEndpointBehavior>
            <tokenProvider>
              <sharedSecret issuerName="ISSUERNAME" issuerSecret="ISSUERSECRET" />
            </tokenProvider>
          </transportClientEndpointBehavior>
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="default">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

  <connectionStrings>
    <add name="NorthwindEntities" connectionString="metadata=res://*/NorthwindModel.csdl|res://*/NorthwindModel.ssdl|res://*/NorthwindModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sql08;initial catalog=Northwind;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
